* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fe5294;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #bb4b76;
}

.App-header {
  text-align: center;
  color: #fff;
}

.country-img {
  display: flex;
  align-items: center;
  border: 5px solid transparent;
}

.world-img > img {
  width: 200px;
  height: 200px;
}

.state-img {
  width: 150px;
  height: 100px;
}

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  margin: auto;
  text-align: center;
  border: 5px solid transparent;
  background-color: #fe5294;
}

.state-list-container {
  background-color: #bb4b76;
}

.state-list,
.air-components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-template-rows: auto 1fr;
}

.state-stat {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #aa4a6f;
  width: 200px;
}

.state-pollution-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
  cursor: pointer;
}

.state-pollution-data {
  display: flex;
  width: 100%;
  background-color: darkgray;
  height: 5rem;
  align-items: center;
  justify-content: center;
}

.air-components {
  grid-gap: 0.5rem;
}

.air-components-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aa4a6f;
  height: 8rem;
}
