* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fe5294;
  color: #fff;
}

.App-header {
  text-align: center;
  color: #fff;
}

.country-img {
  display: flex;
  align-items: center;
  border: 5px solid transparent;
}

.country-img > img {
  width: 200px;
  height: 200px;
}

.state-img {
  width: 150px;
  height: 100px;
}

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  margin: auto;
  text-align: center;
  border: 5px solid transparent;
  background-color: #fe5294;
}

.state-list-container {
  background-color: #bb4b76;
}

.state-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-template-rows: auto 1fr;
}

.state-stat {
  background-color: #aa4a6f;
  width: 200px;
}
